@use "../../../styles.scss" as global;

#root {
  margin: global.$global-margin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.my-form-styles {

}

.my-card-styles {

}

.my-table-styles {
  margin: global.$global-margin;
  width: 100%
}
