<div id="root">
  <mat-card class="my-card-styles">
    <mat-card-title>Fourm Title</mat-card-title>
    <mat-card-content>
      <form [formGroup]="myFormGroup">
        <div class="my-form-styles">
          <mat-form-field appearance="outline" class="my-styles">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="nameFormControl" required />
            <mat-error *ngIf="nameFormControl.errors?.pattern"
              >Pattern Invalid [a-zA-Z ]*</mat-error
            >
            <mat-error *ngIf="nameFormControl.errors?.minlength"
              >Input Length Too Short</mat-error
            >
            <mat-error *ngIf="nameFormControl.errors?.maxlength"
              >Input Length Too Long</mat-error
            >
            <mat-error *ngIf="nameFormControl.errors?.required"
              >Required</mat-error
            >
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input
              matInput
              [formControl]="dateFormControl"
              type="datetime-local"
              required
            />
            <mat-error *ngIf="nameFormControl.errors?.required"
              >Required</mat-error
            >
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              [formControl]="emailFormControl"
              type="email"
              required
            />
            <mat-error *ngIf="emailFormControl.errors?.email"
              >Invalid Email</mat-error
            >
            <mat-error *ngIf="emailFormControl.errors?.required"
              >Required</mat-error
            >
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              [formControl]="descriptionFormControl"
            ></textarea>
            <mat-error *ngIf="descriptionFormControl.errors?.maxlength"
              >Required</mat-error
            >
            <mat-hint
              >{{ descriptionFormControl.value?.length }} /
              {{ MAX_DESCRIPTION_LENGTH }}</mat-hint
            >
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        (click)="onSubmit()"
        [disabled]="myFormGroup.status == 'INVALID'"
      >
        Submit
      </button>
      <button mat-raised-button type="reset" color="warn" (click)="onReset()">
        Reset
      </button>
    </mat-card-actions>
  </mat-card>

  <table
    mat-table
    [dataSource]="submissions"
    class="my-table-styles mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
