<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="onMenu($event)">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" routerLink="/content">
        <mat-icon>store</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/content2">
        <mat-icon>explore</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/content3">
        <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>