@use "../../styles.scss" as global;

#root {
  margin: global.$global-margin;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.my-styles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.my-table-styles {
  margin: auto;
  width: 80%;
  margin-top: global.$global-margin;
}
