<div id="root">
  <header>
    <h1>My Favorites Header</h1>
  </header>

  <main>
    <div class="content-cards">
      <mat-card>
        <mat-card-title>
          <div class="card-title-styles">
            <div>Favorite 1</div>

            <div>
              <mat-icon>favorite</mat-icon>
            </div>
          </div>
        </mat-card-title>
        <mat-card-content>
          <p>
            Curabitur a nisl dapibus, viverra ex nec, placerat purus. Nunc
            aliquam, arcu id tempor luctus, arcu massa bibendum risus, a
            condimentum purus quam at velit. Nam at leo efficitur, semper dui
            eu, suscipit augue. In fermentum auctor nunc sit amet facilisis.
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Mauris eleifend interdum mi, et semper ante
            lacinia eget. Nunc mollis lectus lobortis elit semper, eu fringilla
            augue condimentum. Nam dictum in est eu accumsan. Praesent ac varius
            lacus, vestibulum ornare elit. Suspendisse potenti. Vestibulum
            tincidunt dignissim augue, ut vehicula nibh ullamcorper eu.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>
          <div class="card-title-styles">
            <div>Favorite 2</div>

            <div>
              <mat-icon>favorite</mat-icon>
            </div>
          </div></mat-card-title
        >
        <mat-card-content>
          <p>
            Nunc hendrerit bibendum lacus non consectetur. Vestibulum ut purus
            cursus, semper sapien eget, luctus mi. Duis facilisis dictum
            elementum. Suspendisse nec lacus vestibulum, dapibus dolor at,
            tincidunt augue. Praesent sit amet diam rutrum, tincidunt risus sed,
            lacinia nisi. Quisque sed faucibus nisl, eu bibendum nulla.
            Suspendisse potenti. Proin in metus eros. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Phasellus pharetra, massa vitae imperdiet lobortis, enim
            velit auctor eros, a lobortis massa elit in nunc. Nam semper
            tincidunt facilisis. Donec sed libero at ligula venenatis dapibus at
            ut elit. Vestibulum eu quam nisl. Nullam pellentesque nec libero sed
            rutrum.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>
          <div class="card-title-styles">
            <div>Favorite 3</div>

            <div>
              <mat-icon>favorite</mat-icon>
            </div>
          </div></mat-card-title
        >
        <mat-card-content>
          <p>
            Mauris quis scelerisque tortor. Etiam massa lacus, sollicitudin id
            porta quis, mollis sed eros. Vestibulum tincidunt, sem vel imperdiet
            efficitur, nisi nisl auctor arcu, ultricies condimentum risus nulla
            non nisi. Nunc fermentum mi nunc, in sollicitudin tortor posuere
            nec. Maecenas elementum dolor eget velit tristique maximus. Integer
            accumsan massa et sapien varius, in blandit diam interdum. Nam nec
            rhoncus orci, et dignissim risus. Fusce lacinia faucibus congue.
            Phasellus ut est scelerisque, pulvinar turpis at, placerat odio. In
            elit diam, dignissim sit amet lacinia vehicula, scelerisque sit amet
            augue.
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>
          <div class="card-title-styles">
            <div>Favorite 4</div>

            <div>
              <mat-icon>favorite</mat-icon>
            </div>
          </div></mat-card-title
        >
        <mat-card-content>
          <p>
            Ut eu tortor purus. Aliquam bibendum nisi nec sapien accumsan
            lobortis. Nam mattis urna ultrices lacus accumsan condimentum. Nulla
            faucibus orci quis lacinia imperdiet. Sed quam eros, porta ut velit
            vel, dapibus condimentum nibh. Vestibulum sed magna congue,
            consequat nulla sit amet, euismod velit. Aenean molestie justo at
            quam auctor, in suscipit erat euismod. Nulla vestibulum scelerisque
            turpis, in tempus felis placerat vitae. Pellentesque ultrices odio
            ligula, at porta ex rutrum ut. Donec nunc tellus, laoreet sit amet
            dui in, posuere tincidunt mauris. Nulla ac nisl ac lorem dignissim
            consectetur et non neque. Aenean eu urna at ipsum scelerisque
            ornare. Etiam at lacinia leo. Praesent euismod nunc at lorem
            aliquam, eu molestie justo pretium. Duis viverra finibus fringilla.
            Pellentesque at erat tristique, lacinia velit at, vestibulum lectus.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </main>
</div>
