@use "../../../styles.scss" as global;

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#root {
  margin: global.$global-margin;
  padding: global.$global-padding;
}

.content-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.card-title-styles {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

mat-card {
  max-width: 250px;
  margin: 10px;
}

mat-card-content {
  overflow-y: auto;
  max-height: 250px;
}
