#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 72px;
  height: 100%
}

.button-content {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 0.85em;
  padding-top: 16px;
  padding-bottom: 16px;
}
.button-content:hover {
  filter: brightness(90%);
  background-color: white;
}
