<div id="root">
    <header>
        <h1>My Business Header</h1>
    </header>

    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis dolor eget dolor vehicula sodales.
            Vestibulum blandit massa vel vulputate placerat. Aliquam elit leo, scelerisque a enim nec, mattis porta
            massa. Donec sed ipsum sapien. Phasellus placerat orci accumsan neque euismod, in posuere lectus cursus.
            Etiam eleifend mollis velit quis tempus. Maecenas bibendum sodales tellus vitae condimentum. Interdum et
            malesuada fames ac ante ipsum primis in faucibus. Cras vitae accumsan metus, at maximus mi. Curabitur
            pharetra libero sed lectus scelerisque eleifend. In mattis nulla quis nunc ullamcorper tincidunt. Morbi
            molestie nec nisl at pulvinar. Cras sodales pellentesque sapien ac facilisis. Fusce elit quam, hendrerit nec
            arcu in, scelerisque dapibus metus. Mauris imperdiet lacinia lacus, non pretium augue viverra interdum.
            Integer ante ante, consectetur at viverra quis, blandit eu massa.</p>
        <h2>Content Header 2</h2>
        <p>Donec vestibulum vitae diam at rutrum. Vestibulum sollicitudin lacinia felis. Sed vitae faucibus magna.
            Aenean nec suscipit diam, nec ultricies magna. Nulla ex neque, fermentum sed elit eu, accumsan malesuada
            nunc. Praesent eu ultricies erat. Curabitur porttitor finibus tortor quis semper.</p>
        <h2>Content Header 3</h2>
        <p>Aenean lorem tellus, sagittis et risus sit amet, mattis posuere mi. Quisque malesuada lacus vel eros pretium
            semper. Vestibulum facilisis urna mi, ut facilisis tellus tincidunt ac. Aliquam porta justo at ornare
            pharetra. Praesent semper erat auctor mi vehicula, eleifend pretium elit tincidunt. Curabitur aliquet
            lobortis dolor, tincidunt luctus libero pulvinar at. Mauris condimentum facilisis lacinia. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vel efficitur diam.
            Integer at risus facilisis, pharetra orci at, pulvinar risus.</p>
    </main>

</div>