@use "../styles.scss" as global;

#root-header {
  height: global.$global-header-height;
}
#root-content {
  height: calc(100vh - 64px - 40px); // 100vh - (header in px) - (footer in px)
}
#root-footer {
  height: global.$global-footer-height;
}

#content {
  display: flex;
}

.container {
  height: 100%;
}
