<!-- START: HEADER -->
<div id="root-header">
  <app-header [title]="title" (onMenu_EE)="onMenu($event)"></app-header>
</div>
<!-- STOP: HEADER -->

<div id="root-content">
  <mat-sidenav-container class="container">
    <mat-sidenav [mode]="'over'" [opened]="isMenuOpen">
      <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- START: CONTENT -->
      <div id="content">
        <app-secondary-sidebar *ngIf="showSmallScreenAssets && !showLargeScreenAssets"></app-secondary-sidebar>
        <router-outlet></router-outlet>
      </div>
      <!-- END: CONTENT -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- START: FOOTER -->
<div id="root-footer">
  <app-footer [title]="title"></app-footer>
</div>
<!-- END: FOOTER -->
