@use "../styles.scss" as global;

#root-header {
  height: global.$global-header-height;
}
#root-content {
  height: calc(100vh - #{global.$global-header-height} - #{global.$global-footer-height}); // 100vh - (header in px) - (footer in px)
}
#root-footer {
  height: global.$global-footer-height;
}

#content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - #{global.$global-header-height} - #{global.$global-footer-height});
  overflow: hidden;
}

#sidebar-container {
  border-right: 1px solid black;
}

#content-container {
  width: 100%;
  overflow-y: auto;
}
