#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 144px;
  height: 100%
}

.button-content {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  font-size: 0.85em;
  padding-top: 16px;
  padding-bottom: 16px;
  align-content: center;
  align-items: center;
}
.button-content:hover {
  filter: brightness(90%);
  background-color: white;
}
