<div id="root">
  <div *ngFor="let data of fakeData" [ngClass]="cardCssStyles">
    <div id="image"></div>
    <div id="card-content">
      <mat-icon id="channel-icon">account_circle</mat-icon>
      <div id="card-content-text-container">
        <div id="card-title">{{data.title}}</div>
        <div id="card-channel-title">{{data.channel_title}}</div>
        <div id="card-content-text-container-subtext">
          <div id="card-video-views">{{data.views}}</div>
          <div style="padding-left: 0.5em; padding-right: 0.5em">*</div>
          <div id="card-video-upload-date">
            {{ data.upload_date | date: "MMM d, y" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
