/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$global-header-height: 64px;
$global-footer-height: 40px;
$global-secondary-sidebar-width: 72px;
$global-secondary-sidebar-large-width: 144px;

$global-margin: 16px;
$global-padding: 16px;
