@use "../../styles.scss" as global;


#root {
    margin: global.$global-margin;
    padding: global.$global-padding;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

mat-card {
    max-width: 250px;
    margin: 10px
}

mat-card-content {
    overflow-y: auto;
    max-height: 250px;
}